In [1]:
import pandas as pd
import numpy as np
# import re

In [2]:
#Reading data from Excel Sheet name 'Demographics'
data = pd.read_excel("01_source_files/Technical Test.xls", sheet_name="Demographics")
data.head()

,NRIC,Gender,Age,Marital Status,New NRIC,Coding - Gender,Age Group,Study Number
0,S1510657E,M,39,Divorced,NaN,NaN,NaN,NaN
1,SN5484655,F,68,Single,NaN,NaN,NaN,NaN
2,S7705341S,M,1,Married,NaN,NaN,NaN,NaN
3,SA9787544,M,35,Married,NaN,NaN,NaN,NaN
4,SA7766801,F,91,Married,NaN,NaN,NaN,NaN

In [3]:
data.info()
print(data.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NRIC             117 non-null    object
 1   Gender           117 non-null    object
 2   Age              117 non-null    int64
 3   Marital Status   117 non-null    object
 4   New NRIC         0 non-null      float64
 5   Coding - Gender  0 non-null      float64
 6   Age Group        0 non-null      float64
 7   Study Number     0 non-null      float64
dtypes: float64(4), int64(1), object(3)
memory usage: 7.4+ KB
(117, 8)

## New NRIC

## Coding - Gender

In [4]:
#Function to label/code Gender Group

def gender_code(gender_cols):
   if gender_cols == 'F' :
      return 1
   else:
      return 2

In [5]:
#Apply the function with the return values to Gender Group Column
data['Coding - Gender'] = data['Gender'].apply (lambda gender_cols: gender_code(gender_cols))

In [6]:
data

,NRIC,Gender,Age,Marital Status,New NRIC,Coding - Gender,Age Group,Study Number
0,S1510657E,M,39,Divorced,NaN,2,NaN,NaN
1,SN5484655,F,68,Single,NaN,1,NaN,NaN
2,S7705341S,M,1,Married,NaN,2,NaN,NaN
3,SA9787544,M,35,Married,NaN,2,NaN,NaN
4,SA7766801,F,91,Married,NaN,1,NaN,NaN
...,...,...,...,...,...,...,...,...
112,S4596427P,M,84,Single,NaN,2,NaN,NaN
113,ST 1966155,F,58,Seperated,NaN,1,NaN,NaN
114,X0960227H,F,72,Single,NaN,1,NaN,NaN
115,SA 7766801,F,91,Married,NaN,1,NaN,NaN
116,S1504698Q,M,3,Single,NaN,2,NaN,NaN

In [7]:
np.sort(data['Coding - Gender'].unique())

array([1, 2])

## Age Group

In [8]:
#Function to define and categories Age Group

def age_group(age_cols):
   if age_cols <= 9 :
      return 'G1'
   if age_cols >= 10 and age_cols <= 19:
      return 'G2'
   if age_cols >= 20 and age_cols <= 29:
      return 'G3'
   if age_cols >= 30 and age_cols <= 39:
      return 'G4'  
   if age_cols >= 40 and age_cols <= 49:
      return 'G5'
   if age_cols >= 50 and age_cols <= 59:
      return 'G6'
   if age_cols >= 60 and age_cols <= 69:
      return 'G7'  
   if age_cols >= 70 and age_cols <= 79:
      return 'G8'
   if age_cols >= 80 and age_cols <= 89:
      return 'G9'
   if age_cols >= 90:
      return 'G0'

In [9]:
#Apply the function with the return values to Age Group Column
data['Age Group'] = data['Age'].apply (lambda age_cols: age_group(age_cols))

In [10]:
data

,NRIC,Gender,Age,Marital Status,New NRIC,Coding - Gender,Age Group,Study Number
0,S1510657E,M,39,Divorced,NaN,2,G4,NaN
1,SN5484655,F,68,Single,NaN,1,G7,NaN
2,S7705341S,M,1,Married,NaN,2,G1,NaN
3,SA9787544,M,35,Married,NaN,2,G4,NaN
4,SA7766801,F,91,Married,NaN,1,G0,NaN
...,...,...,...,...,...,...,...,...
112,S4596427P,M,84,Single,NaN,2,G9,NaN
113,ST 1966155,F,58,Seperated,NaN,1,G6,NaN
114,X0960227H,F,72,Single,NaN,1,G8,NaN
115,SA 7766801,F,91,Married,NaN,1,G0,NaN
116,S1504698Q,M,3,Single,NaN,2,G1,NaN

In [11]:
np.sort(data['Age Group'].unique())

array(['G0', 'G1', 'G2', 'G3', 'G4', 'G5', 'G6', 'G7', 'G8', 'G9'],
      dtype=object)

## Study Number

## Worksheet: Study Data

## Worksheet: Exception List

## Worksheet: Pivot Table